/* Declaro variables CSS */
:root {
    --color-main: #0592ff;
    --color-secondary: #a6effd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-main);
    background: linear-gradient(135deg, var(--color-main) 0%, var(--color-secondary) 100%);
}

.container {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 5px 5px 10px 1px #000;
    text-align: center;
    margin: 20px;
    width: calc(100% - 40px);
    max-width: 400px;
}

#form-container .form-icon-container {
    margin-top: -70px;
}

#form-container .form-icon-container i {
    background-color: #e1e1e1;
    border-radius: 50%;
    padding: 20px;
    color: red;
    font-size: 30px;
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.49);
    width: 80px;
    height: 80px;
    line-height: 40px;
    text-align: center;
    color: var(--color-main)
}

#form-container .form-title {
    color: var(--color-main);
    font-size: 28px;
}

#form-container .item-form {
    margin: 20px 0;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#form-container .item-form label {
    display: block;
    text-align: left;
    margin-bottom: 2px;
}

#form-container .item-form.item-form-buttons {
    margin-top: 30px;
}

#form-container .item-form input,
#form-container .item-form select {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

#form-container .item-form select:invalid {
    color: gray;
}

#form-container .item-form input:focus {
    border-color: var(--color-secondary);
    outline: none !important;
}

button {
    background-color: var(--color-main);
    padding: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    margin: 0 6px;
}

button:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

#error-container {
    color: #eb0000;
    background-color: #ffc3c3;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

#success-container {
    display: none;
}

#success-container i {
    color: #90ee90;
    font-size: 50px;
    margin-bottom: 14px;
}

#alert-nombre-apellido, #alert-email, #alert-sexo {
    color: red;
    font-weight: 500;
    display: block;
    font-size: 14px;
}
